* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", serif;
    font-weight: bold;
}

body {
    background-color: #181733;
    color: #fff;
}

header {
    margin-bottom: 40px;

}

.header img,
svg {
    vertical-align: middle;
}

header .left {
    display: flex;
    align-items: center;

}

.login:hover {
    text-decoration: underline;
}

.registro {
    background-image: linear-gradient(90deg, #8c1a17, #cd122d);
    padding: 6px 30px;
    border-radius: 4px;
    margin: 0 auto;
}

body {
    .ui-widget-content {
        width: 150px;
    }

    .draggable img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 470/470;
    }

}


main {
    overflow: hidden;
}